.pt-table_view_default {
	& > .pt-table__row {
		background: var(--color-default);
		&:hover {
			background: var(--color-stripe);
		}
		&_view_head,
		&_head:hover {
			background: transparent;
		}
	}
}
