.pt-table {
  &_view {
    &_default {
      .pt-table__row {
        background: var(--color-default);
        &_view {
          &_head {
            background: transparent;
          }
        }
      }
    }
    &_inverse {
      .pt-table__row {
        background: var(--color-inverse);
        &_view {
          &_head {
            background: transparent;
          }
        }
      }
    }
    &_ghost {
      .pt-table__row {
        background: var(--color-ghost);
        &_view {
          &_head {
            background: transparent;
          }
        }
      }
    }
  }
  &_border {
    &_all {
      border: 1px solid var(--color-border);
    }
  }
  &__row {
    position: relative;
    display: flex;
    justify-content: baseline;
    flex-wrap: nowrap;
    margin-bottom: var(--space-xs);
    transition: background-color 0.5s ease-out;
    &:last-child {
      margin-bottom: 0;
    }
    &_stripe {
      &_even {
        margin-bottom: 0px;
        &:nth-child(2n) {
          background: rgba(0,0,0,0.02);
        }
      }
    }
    &:hover {
      background-color: var(--color-hover);
    }
    &_view {
      &_head {
        background: transparent;
        margin-bottom: 0px;
        &:hover {
          background: transparent;
        }
      }
    }
    &_status {
      &_default {
        border-left: var(--space-xxs) solid var(--color-ghost);
      }
      &_success {
        border-left: var(--space-xxs) solid var(--color-success);
      }
      &_warning {
        border-left: var(--space-xxs) solid var(--color-action);
      }
      &_error {
        border-left: var(--space-xxs) solid var(--color-alert);
      }
    }
    &_space-a {
      &_xs .pt-table__col {
        padding: var(--space-xs);
      }
      &_s .pt-table__col {
        padding: var(--space-s);
      }
      &_m .pt-table__col {
        padding: var(--space-m);
      }
      &_l .pt-table__col {
        padding: var(--space-l);
      }
    }
    &_space-v {
      &_xs .pt-table__col {
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xs);
      }
      &_s .pt-table__col {
        padding-top: var(--space-s);
        padding-bottom: var(--space-s);
      }
      &_m .pt-table__col {
        padding-top: var(--space-m);
        padding-bottom: var(--space-m);
      }
      &_l .pt-table__col {
        padding-top: var(--space-l);
        padding-bottom: var(--space-l);
      }
    }
    &_space-h {
      &_xs .pt-table__col {
        padding-left: var(--space-xs);
        padding-right: var(--space-xs);
      }
      &_s .pt-table__col {
        padding-left: var(--space-s);
        padding-right: var(--space-s);
      }
      &_m .pt-table__col {
        padding-left: var(--space-m);
        padding-right: var(--space-m);
      }
      &_l .pt-table__col {
        padding-left: var(--space-l);
        padding-right: var(--space-l);
      }
    }
    &_border {
      &_bottom {
        margin-bottom: 0px;
        border-bottom: 1px solid var(--color-border);
        &:last-child {
          border-bottom: none;
        }
      }
      &_top {
        border-top: 1px solid var(--color-border);
        &:last-top {
          border-top: none;
        }
      }
    }
  }
  &__col {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;

    &_align {
      &_right {
        text-align: right;
      }
    }
    &_width {
      &_5 {
        width: 5%;
      }
      &_10 {
        width: 10%;
      }
      &_15 {
        width: 15%;
      }
      &_20 {
        width: 20%;
      }
      &_25 {
        width: 25%;
      }
      &_30 {
        width: 30%;
      }
      &_35 {
        width: 35%;
      }
      &_40 {
        width: 40%;
      }
      &_45 {
        width: 45%;
      }
      &_50 {
        width: 50%;
      }
      &_55 {
        width: 55%;
      }
      &_60 {
        width: 60%;
      }
      &_65 {
        width: 65%;
      }
      &_70 {
        width: 70%;
      }
      &_75 {
        width: 75%;
      }
      &_80 {
        width: 80%;
      }
      &_85 {
        width: 85%;
      }
      &_90 {
        width: 90%;
      }
      &_95 {
        width: 95%;
      }
      &_100 {
        width: 100%;
      }
    }
  }
}
