.pt-card__play {
	width: var(--space-xxl);
	height: var(--space-xxl);
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 50%;
	margin-left: calc(-1 * var(--space-l));
	margin-top: calc(-1 * var(--space-l));
	width: 0;
	height: 0;
	border-top: var(--space-l) solid transparent;
	border-bottom: var(--space-l) solid transparent;
	border-left: var(--space-xxl) solid var(--color-default);
	cursor: pointer;
	&:hover {
		border-left: var(--space-xxl) solid var(--color-action);
	}
}
