.pt-table__row_space-a_l .pt-table__col {
	padding: var(--space-l);
}
.pt-table__row_space-a_m .pt-table__col {
	padding: var(--space-m);
}
.pt-table__row_space-a_s .pt-table__col {
	padding: var(--space-s);
}
.pt-table__row_space-a_xs .pt-table__col {
	padding: var(--space-xs);
}