.pt-form__item {
	position: relative;

	&[class*="space-t"]:first-child {
		padding-top: 0;
	}
	&[class*="space-b"]:last-child {
		padding-bottom: 0;
	}

	&[class*="indent-t"]:first-child {
		margin-top: 0;
	}
	&[class*="indent-b"]:last-child {
		margin-bottom: 0;
	}
}
