.pt-flex_space-v_s {
	padding-top: calc(var(--space-s) / 2);
	padding-bottom: calc(var(--space-s) / 2);

	& .pt-flex__col {
		padding-top: calc(var(--space-s) / 2);
		padding-bottom: calc(var(--space-s) / 2);
	}
}
