.pt-card__image_shadow_top-default {
	&:after {
		content: '';
		position: absolute;
		left: 0px;
		top: 0px;
		height: 80%;
		width: 100%;
		background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 1) 60%);
	}
}