.pt-flex {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	
	.pt-icon-plus {
		display: inline-flex;
	}

	&_status {
		&_default {
			border-left: $space-xxs solid var(--color-normal);
		}
		&_success {
			border-left: $space-xxs solid var(--color-success);
		}
		&_warning {
			border-left: $space-xxs solid var(--color-action);
		}
		&_alert {
			border-left: $space-xxs solid var(--color-alert);
		}
	}
	&_view {
		&_stripe {
			background: var(--color-stripe);
		}
	}
	&_border {
		&_all {
			border: 1px solid var(--color-border);
		}
	}
	&_shadow {
		&_cloud {
			box-shadow: 0px 10px 20px rgba(0,0,0,.04), 0px -5px 20px rgba(0,0,0,.04);
		}
	}
	&_space-a {
		&_xs {
			padding: calc($space-xs / 2);

			& .pt-flex__col {
				padding: calc($space-xs / 2);
			}
		}
		&_s {
			padding: calc($space-s / 2);

			& .pt-flex__col {
				padding: calc($space-s / 2);
			}
		}
		&_m {
			padding: calc($space-m / 2);

			& .pt-flex__col {
				padding: calc($space-m / 2);
			}
		}
		&_l {
			padding: calc($space-l / 2);

			& .pt-flex__col {
				padding: calc($space-l / 2);
			}
		}
	}
	&_space-v {
		&_xs {
			padding-top: calc($space-xs / 2);
			padding-bottom: calc($space-xs / 2);

			& .pt-flex__col {
				padding-top: calc($space-xs / 2);
				padding-bottom: calc($space-xs / 2);
			}
		}
		&_s {
			padding-top: calc($space-s / 2);
			padding-bottom: calc($space-s / 2);

			& .pt-flex__col {
				padding-top: calc($space-s / 2);
				padding-bottom: calc($space-s / 2);
			}
		}
		&_m {
			padding-top: calc($space-m / 2);
			padding-bottom: calc($space-m / 2);

			& .pt-flex__col {
				padding-top: calc($space-m / 2);
				padding-bottom: calc($space-m / 2);
			}
		}
		&_l {
			padding-top: calc($space-l / 2);
			padding-bottom: calc($space-l / 2);

			& .pt-flex__col {
				padding-top: calc($space-l / 2);
				padding-bottom: calc($space-l / 2);
			}
		}
	}
	&_space-h {
		&_xs {
			padding-left: calc($space-xs / 2);
			padding-right: calc($space-xs / 2);

			& .pt-flex__col {
				padding-left: calc($space-xs / 2);
				padding-right: calc($space-xs / 2);
			}
		}
		&_s {
			padding-left: calc($space-s / 2);
			padding-right: calc($space-s / 2);

			& .pt-flex__col {
				padding-left: calc($space-s / 2);
				padding-right: calc($space-s / 2);
			}
		}
		&_m {
			padding-left: calc($space-m / 2);
			padding-right: calc($space-m / 2);

			& .pt-flex__col {
				padding-left: calc($space-m / 2);
				padding-right: calc($space-m / 2);
			}
		}
		&_l {
			padding-left: calc($space-l / 2);
			padding-right: calc($space-l / 2);

			& .pt-flex__col {
				padding-left: calc($space-l / 2);
				padding-right: calc($space-l / 2);
			}
		}
	}

	&__col {
		position: relative;
		flex-grow: 0;
		flex-shrink: 0;
		box-sizing: border-box;
		&_align {
			&_right {
				text-align: right;
			}
			&_center {
				text-align: center;
			}
		}
		&_width {
			&_5 {
				width: 5%;
			}
			&_10 {
				width: 10%;
			}
			&_15 {
				width: 15%;
			}
			&_20 {
				width: 20%;
			}
			&_25 {
				width: 25%;
			}
			&_30 {
				width: 30%;
			}
			&_35 {
				width: 35%;
			}
			&_40 {
				width: 40%;
			}
			&_45 {
				width: 45%;
			}
			&_50 {
				width: 50%;
			}
			&_55 {
				width: 55%;
			}
			&_60 {
				width: 60%;
			}
			&_65 {
				width: 65%;
			}
			&_70 {
				width: 70%;
			}
			&_75 {
				width: 75%;
			}
			&_80 {
				width: 80%;
			}
			&_85 {
				width: 85%;
			}
			&_90 {
				width: 90%;
			}
			&_95 {
				width: 95%;
			}
			&_100 {
				width: 100%;
			}
		}
	}
}
