.pt-dialog {
  &__content {
    padding: $space-xl;
  }
  &__action {
    padding: $space-s $space-l;
  }
  &__status {
    &_size {
      &_xl {
        width: 80px;
        height: 80px;
      }
    }
  }
}
