.pt-informer {
	&_view {
		&_success {
			background: var(--color-success);
			.button2 {
				&_theme {
					&_action {
						&::before {
							background: var(--color-default);
						}
						.button2__text {
							color: var(--color-success);
						}
						&:active {
							&::before {
								background: var(--color-default);
							}
						}
					}
					&_normal {
						&::before {
							background: rgba(0,0,0,0.05);
							border-color: transparent;
						}
						.button2__text {
							color: var(--color-typo-inverse);
						}
					}
				}
			}
		}
		&_alert {
			background: var(--color-alert);
			.button2 {
				&_theme {
					&_action {
						&::before {
							background: var(--color-default);
						}
						.button2__text {
							color: var(--color-alert);
						}
						&:active {
							&::before {
								background: var(--color-default);
							}
						}
					}
					&_normal {
						&::before {
							background: rgba(0,0,0,0.05);
							border-color: transparent;
						}
						.button2__text {
							color: var(--color-typo-inverse);
						}
					}
				}
			}
		}
		&_warning {
			background: #FEDB6B;
			.button2 {
				&_theme {
					&_action {
						&::before {
							background: var(--color-default);
						}
						&:active {
							&::before {
								background: var(--color-default);
							}
						}
					}
					&_normal {
						&::before {
							background: rgba(0,0,0,0.05);
							border-color: transparent;
						}
					}
				}
			}
		}
		&_normal {
			background: #a1a5a6;
			.button2 {
				&_theme {
					&_action {
						&::before {
							background: var(--color-default);
						}
						&:active {
							&::before {
								background: var(--color-default);
							}
						}
					}
					&_normal {
						&::before {
							background: rgba(0,0,0,0.05);
							border-color: transparent;
						}
					}
				}
			}
		}
	}
	&_border {
		&_all {
			border: 1px solid var(--color-border);
		}
	}
	&__col {
		width: 100%;
		flex-shrink: 1;
		margin-right: $space-xl;
		
		&:last-child {
			margin-right: 0px;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;

		&_align {
			&_center {
				justify-content: center;
			}
		}

		&_space-a {
			&_s {
				padding: $space-s;
			}
			&_m {
				padding: $space-m;
			}
			&_l {
				padding: $space-l;
			}
			&_xl {
				padding: $space-xl;
			}
			&_xxl {
				padding: $space-xxl;
			}
		}
		&_space-v {
			&_m {
				padding-top: $space-m;
				padding-bottom: $space-m;
			}
			&_l {
				padding-top: $space-l;
				padding-bottom: $space-l;
			}
			&_xl {
				padding-top: $space-xl;
				padding-bottom: $space-xl;
			}
			&_xxl {
				padding: $space-xxl;
				padding-bottom: $space-xxl;
			}
		}
		&_space-h {
			&_m {
				padding-left: $space-m;
				padding-right: $space-m;
			}
			&_l {
				padding-left: $space-l;
				padding-right: $space-l;
			}
			&_xl {
				padding-left: $space-xl;
				padding-right: $space-xl;
			}
			&_xxl {
				padding-left: $space-xxl;
				padding-right: $space-xxl;
			}
		}

		&_distribute {
			&_default {
				display: flex;
				justify-content: flex-start;
			}
			&_between {
				display: flex;
				justify-content: space-between;
			}
		}
	}
	&__action {
		padding: $space-l $space-xl;
		justify-content: flex-end;
		&_space-a {
			&_s {
				padding: $space-s;
			}
			&_m {
				padding: $space-m;
			}
			&_l {
				padding: $space-l;
			}
			&_xl {
				padding: $space-xl;
			}
			&_xxl {
				padding: $space-xxl;
			}
		}
		&_space-v {
			&_m {
				padding-top: $space-m;
				padding-bottom: $space-m;
			}
			&_l {
				padding-top: $space-l;
				padding-bottom: $space-l;
			}
			&_xl {
				padding-top: $space-xl;
				padding-bottom: $space-xl;
			}
			&_xxl {
				padding: $space-xxl;
				padding-bottom: $space-xxl;
			}
		}
		&_space-h {
			&_m {
				padding-left: $space-m;
				padding-right: $space-m;
			}
			&_l {
				padding-left: $space-l;
				padding-right: $space-l;
			}
			&_xl {
				padding-left: $space-xl;
				padding-right: $space-xl;
			}
			&_xxl {
				padding-left: $space-xxl;
				padding-right: $space-xxl;
			}
		}
		&_space-b {
			&_m {
				padding-bottom: $space-m;
			}
			&_l {
				padding-bottom: $space-l;
			}
			&_xl {
				padding-bottom: $space-xl;
			}
			&_xxl {
				padding-bottom: $space-xxl;
			}
		}
	}
}
