.pt-informer_view_warning {
	background: #FEDB6B;
	.button2_theme {
		&_action {
			&::before {
				background: var(--color-default);
			}
			&:active {
				&::before {
					background: var(--color-default);
				}
			}
		}
		&_normal {
			&::before {
				background: rgba(0,0,0,0.05);
				border-color: transparent;
			}
		}
	}
}