.pt-form {
  &_view {
    &_default {
      background: var(--color-default);
    }
    &_inverse {
      background: var(--color-inverse);
    }
    &_ghost {
      background: var(--color-ghost);
    }
  }
  &_border {
    &_all {
      border: 1px solid var(--color-border);
    }
  }
  &_shadow {
    &_cloud {
      box-shadow: 0px 10px 20px rgba(0,0,0,.04), 0px -5px 20px rgba(0,0,0,.04);
    }
  }
  &__item {
    position: relative;
    &_type {
      &_action {
        display: flex;
        justify-content: space-between;
      }
    }
    &_distribute {
      &_default {
        display: flex;
        justify-content: flex-start;
      }
      &_between {
        display: flex;
        justify-content: space-between;
      }
    }
    &_space-a {
      &_xs {
        padding: $space-xs;
      }
      &_s {
        padding: $space-s;
      }
      &_m {
        padding: $space-m;
      }
      &_l {
        padding: $space-l;
      }
      &_xl {
        padding: $space-xl;
      }
      &_xxl {
        padding: $space-xxl;
      }
      &_xxxl {
        padding: $space-xxxl;
      }
    }
    &_space-v {
      &_xs {
        padding-top: $space-xs;
        padding-bottom: $space-xs;
      }
      &_s {
        padding-top: $space-s;
        padding-bottom: $space-s;
      }
      &_m {
        padding-top: $space-m;
        padding-bottom: $space-m;
      }
      &_l {
        padding-top: $space-l;
        padding-bottom: $space-l;
      }
      &_xl {
        padding-top: $space-xl;
        padding-bottom: $space-xl;
      }
      &_xxl {
        padding-top: $space-xxl;
        padding-bottom: $space-xxl;
      }
      &_xxxl {
        padding-top: $space-xxxl;
        padding-bottom: $space-xxxl;
      }
    }
    &_space-h {
      &_xs {
        padding-left: $space-xs;
        padding-right: $space-xs;
      }
      &_s {
        padding-left: $space-s;
        padding-right: $space-s;
      }
      &_m {
        padding-left: $space-m;
        padding-right: $space-m;
      }
      &_l {
        padding-left: $space-l;
        padding-right: $space-l;
      }
      &_xl {
        padding-left: $space-xl;
        padding-right: $space-xl;
      }
      &_xxl {
        padding-left: $space-xxl;
        padding-right: $space-xxl;
      }
      &_xxxl {
        padding-left: $space-xxxl;
        padding-right: $space-xxxl;
      }
    }
    &_space-t {
      &_xs {
        padding-top: $space-xs;
        &:fisrt-child {
          padding-top: 0;
        }
      }
      &_s {
        padding-top: $space-s;
        &:first-child {
          padding-top: 0;
        }
      }
      &_m {
        padding-top: $space-m;
        &:first-child {
          padding-top: 0;
        }
      }
      &_l {
        padding-top: $space-l;
        &:first-child {
          padding-top: 0;
        }
      }
      &_xl {
        padding-top: $space-xl;
        &:first-child {
          padding-top: 0;
        }
      }
      &_xxl {
        padding-top: $space-xxl;
        &:first-child {
          padding-top: 0;
        }
      }
      &_xxxl {
        padding-top: $space-xxxl;
        &:first-child {
          padding-top: 0;
        }
      }
    }
    &_space-r {
      &_xs {
        padding-right: $space-xs;
      }
      &_s {
        padding-right: $space-s;
      }
      &_m {
        padding-right: $space-m;
      }
      &_l {
        padding-right: $space-l;
      }
      &_xl {
        padding-right: $space-xl;
      }
      &_xxl {
        padding-right: $space-xxl;
      }
      &_xxxl {
        padding-right: $space-xxxl;
      }
    }
    &_space-b {
      &_xs {
        padding-bottom: $space-xs;
        &:last-child {
          padding-bottom: 0;
        }
      }
      &_s {
        padding-bottom: $space-s;
        &:last-child {
          padding-bottom: 0;
        }
      }
      &_m {
        padding-bottom: $space-m;
        &:last-child {
          padding-bottom: 0;
        }
      }
      &_l {
        padding-bottom: $space-l;
        &:last-child {
          padding-bottom: 0;
        }
      }
      &_xl {
        padding-bottom: $space-xl;
        &:last-child {
          padding-bottom: 0;
        }
      }
      &_xxl {
        padding-bottom: $space-xxl;
        &:last-child {
          padding-bottom: 0;
        }
      }
      &_xxxl {
        padding-bottom: $space-xxxl;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
    &_space-l {
      &_xs {
        padding-left: $space-xs;
      }
      &_s {
        padding-left: $space-s;
      }
      &_m {
        padding-left: $space-m;
      }
      &_l {
        padding-left: $space-l;
      }
      &_xl {
        padding-left: $space-xl;
      }
      &_xxl {
        padding-left: $space-xxl;
      }
      &_xxxl {
        padding-left: $space-xxl;
      }
    }
    &_indent-a {
      &_xs {
        margin: $space-xs;
      }
      &_s {
        margin: $space-s;
      }
      &_m {
        margin: $space-m;
      }
      &_l {
        margin: $space-l;
      }
      &_xl {
        margin: $space-xl;
      }
      &_xxl {
        margin: $space-xxl;
      }
      &_xxxl {
        margin: $space-xxxl;
      }
    }
    &_indent-v {
      &_xs {
        margin-top: $space-xs;
        margin-bottom: $space-xs;
      }
      &_s {
        margin-top: $space-s;
        margin-bottom: $space-s;
      }
      &_m {
        margin-top: $space-m;
        margin-bottom: $space-m;
      }
      &_l {
        margin-top: $space-l;
        margin-bottom: $space-l;
      }
      &_xl {
        margin-top: $space-xl;
        margin-bottom: $space-xl;
      }
      &_xxl {
        margin-top: $space-xxl;
        margin-bottom: $space-xxl;
      }
      &_xxxl {
        margin-top: $space-xxxl;
        margin-bottom: $space-xxxl;
      }
    }
    &_indent-h {
      &_xs {
        margin-left: $space-xs;
        margin-right: $space-xs;
      }
      &_s {
        margin-left: $space-s;
        margin-right: $space-s;
      }
      &_m {
        margin-left: $space-m;
        margin-right: $space-m;
      }
      &_l {
        margin-left: $space-l;
        margin-right: $space-l;
      }
      &_xl {
        margin-left: $space-xl;
        margin-right: $space-xl;
      }
      &_xxl {
        margin-left: $space-xxl;
        margin-right: $space-xxl;
      }
      &_xxxl {
        margin-left: $space-xxxl;
        margin-right: $space-xxxl;
      }
    }
    &_indent-t {
      &_xs {
        margin-top: $space-xs;
        &:fisrt-child {
          margin-top: 0;
        }
      }
      &_s {
        margin-top: $space-s;
        &:first-child {
          margin-top: 0;
        }
      }
      &_m {
        margin-top: $space-m;
        &:first-child {
          margin-top: 0;
        }
      }
      &_l {
        margin-top: $space-l;
        &:first-child {
          margin-top: 0;
        }
      }
      &_xl {
        margin-top: $space-xl;
        &:first-child {
          margin-top: 0;
        }
      }
      &_xxl {
        margin-top: $space-xxl;
        &:first-child {
          margin-top: 0;
        }
      }
      &_xxxl {
        margin-top: $space-xxxl;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    &_indent-r {
      &_xs {
        margin-right: $space-xs;
      }
      &_s {
        margin-right: $space-s;
      }
      &_m {
        margin-right: $space-m;
      }
      &_l {
        margin-right: $space-l;
      }
      &_xl {
        margin-right: $space-xl;
      }
      &_xxl {
        margin-right: $space-xxl;
      }
      &_xxxl {
        margin-right: $space-xxxl;
      }
    }
    &_indent-b {
      &_xs {
        margin-bottom: $space-xs;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &_s {
        margin-bottom: $space-s;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &_m {
        margin-bottom: $space-m;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &_l {
        margin-bottom: $space-l;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &_xl {
        margin-bottom: $space-xl;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &_xxl {
        margin-bottom: $space-xxl;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &_xxxl {
        margin-bottom: $space-xxxl;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &_indent-l {
      &_xs {
        margin-left: $space-xs;
      }
      &_s {
        margin-left: $space-s;
      }
      &_m {
        margin-left: $space-m;
      }
      &_l {
        margin-left: $space-l;
      }
      &_xl {
        margin-left: $space-xl;
      }
      &_xxl {
        margin-left: $space-xxl;
      }
      &_xxxl {
        margin-left: $space-xxl;
      }
    }

    &_border {
      &_bottom {
        border-bottom: 1px solid var(--color-border);
        &:last-child {
          border-bottom: none;
        }
      }
      &_all {
        border: 1px solid var(--color-border);
      }
      &_top {
        border-top: 1px solid var(--color-border);
        &:first-child {
          border-top: none;
        }
      }
    }
  }
  &__event {
    display: flex;
    align-items: center;
  }
  &__label {
    width: 35%;
    flex-shrink: 0;

    &_width {
      &_default {
        width: 35%;
      }
      &_inverse {
        width: 65%;
      }
    }
  }
}
