.pt-avatar {
  &__photo {
    &_view {
      &_example {
        background-color: red;
      }
    }
    &_size {
      &_xxs {
        width: 24px;
        height: 24px;
      }
      &_xs {
        width: 32px;
        height: 32px;
      }
      &_s {
        width: 40px;
        height: 40px;
      }
      &_m {
        width: 60px;
        height: 60px;
      }
      &_l {
        width: 80px;
        height: 80px;
      }
    }
  }
}
