.pt-card {
  background-color: var(--color-default);
  color: var(--color-typo-primary);
  box-sizing: border-box;
  position: relative;
  &_view {
    &_default{
      background-color: var(--color-default);
    }
    &_inverse {
      background-color: var(--color-inverse);
      color: var(--color-typo-inverse);
    }
  }
  &__image {
    z-index: 99;
    img {
      width: 100%;
    }
    &_shadow {
      &_default {
        &:after {
          content: '';
          position: absolute;
          left: 0px;
          bottom: 0px;
          height: 228px;
          width: 100%;
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1) 90%);
        }
      }
      &_inverse {
        &:after {
          content: '';
          position: absolute;
          left: 0px;
          bottom: 0px;
          height: 228px;
          width: 100%;
          background-image: linear-gradient(to bottom, rgba(26, 26, 26, 0) 20%, rgba(26, 26, 26, 1) 90%);
        }
      }
    }
    &_size {
      &_cover {
        position: absolute;
        height: 100%;
      }
    }
  }
  &_border {
    &_all {
      border: 1px solid var(--color-border);
    }
  }
  &_shadow {
    &_cloud {
      box-shadow: 0 20px 20px rgba(0,0,0,.08);
    }
  }
  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    &_space-a {
      &_xs {
        padding: var(--space-xs);
      }
      &_s {
        padding: var(--space-s);
      }
      &_m {
        padding: var(--space-m);
      }
      &_l {
        padding: var(--space-l);
      }
      &_xl {
        padding: var(--space-xl);
      }
      &_xxl {
        padding: var(--space-xxl);
      }
    }
    &_space-v {
      &_xs {
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xs);
      }
      &_s {
        padding-top: var(--space-s);
        padding-bottom: var(--space-s);
      }
      &_m {
        padding-top: var(--space-m);
        padding-bottom: var(--space-m);
      }
      &_l {
        padding-top: var(--space-l);
        padding-bottom: var(--space-l);
      }
      &_xl {
        padding-top: var(--space-xl);
        padding-bottom: var(--space-xl);
      }
      &_xxl {
        padding-top: var(--space-xxl);
        padding-bottom: var(--space-xxl);
      }
    }
    &_space-h {
      &_xs {
        padding-left: var(--space-xs);
        padding-right: var(--space-xs);
      }
      &_s {
        padding-left: var(--space-s);
        padding-right: var(--space-s);
      }
      &_m {
        padding-left: var(--space-m);
        padding-right: var(--space-m);
      }
      &_l {
        padding-left: var(--space-l);
        padding-right: var(--space-l);
      }
      &_xl {
        padding-left: var(--space-xl);
        padding-right: var(--space-xl);
      }
      &_xxl {
        padding-left: var(--space-xxl);
        padding-right: var(--space-xxl);
      }
    }
  }
  &__content {
    &_space-a {
      &_xs {
        padding: var(--space-xs);
      }
      &_s {
        padding: var(--space-s);
      }
      &_m {
        padding: var(--space-m);
      }
      &_l {
        padding: var(--space-l);
      }
      &_xl {
        padding: var(--space-xl);
      }
      &_xxl {
        padding: var(--space-xxl);
      }
    }
    &_space-v {
      &_xs {
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xs);
      }
      &_s {
        padding-top: var(--space-s);
        padding-bottom: var(--space-s);
      }
      &_m {
        padding-top: var(--space-m);
        padding-bottom: var(--space-m);
      }
      &_l {
        padding-top: var(--space-l);
        padding-bottom: var(--space-l);
      }
      &_xl {
        padding-top: var(--space-xl);
        padding-bottom: var(--space-xl);
      }
      &_xxl {
        padding: var(--space-xxl);
        padding-bottom: var(--space-xxl);
      }
    }
    &_space-h {
      &_xs {
        padding-left: var(--space-xs);
        padding-right: var(--space-xs);
      }
      &_s {
        padding-left: var(--space-s);
        padding-right: var(--space-s);
      }
      &_m {
        padding-left: var(--space-m);
        padding-right: var(--space-m);
      }
      &_l {
        padding-left: var(--space-l);
        padding-right: var(--space-l);
      }
      &_xl {
        padding-left: var(--space-xl);
        padding-right: var(--space-xl);
      }
      &_xxl {
        padding-left: var(--space-xxl);
        padding-right: var(--space-xxl);
      }
    }
    &_space-t {
      &_xs {
        padding-top: var(--space-xs);
      }
      &_s {
        padding-top: var(--space-s);
      }
      &_m {
        padding-top: var(--space-m);
      }
      &_l {
        padding-top: var(--space-l);
      }
      &_xl {
        padding-top: var(--space-xl);
      }
      &_xxl {
        padding-top: var(--space-xxl);
      }
      &_xxxl {
        padding-top: var(--space-xxxl);
      }
    }
    &_space-r {
      &_xs {
        padding-right: var(--space-xs);
      }
      &_s {
        padding-right: var(--space-s);
      }
      &_m {
        padding-right: var(--space-m);
      }
      &_l {
        padding-right: var(--space-l);
      }
      &_xl {
        padding-right: var(--space-xl);
      }
      &_xxl {
        padding-right: var(--space-xxl);
      }
    }
    &_space-b {
      &_xs {
        padding-bottom: var(--space-xs);
      }
      &_s {
        padding-bottom: var(--space-s);
      }
      &_m {
        padding-bottom: var(--space-m);
      }
      &_l {
        padding-bottom: var(--space-l);
      }
      &_xl {
        padding-bottom: var(--space-xl);
      }
      &_xxl {
        padding-bottom: var(--space-xxl);
      }
      &_xxxl {
        padding-bottom: var(--space-xxxl);
      }
    }
    &_space-l {
      &_xs {
        padding-left: var(--space-xs);
      }
      &_s {
        padding-left: var(--space-s);
      }
      &_m {
        padding-left: var(--space-m);
      }
      &_l {
        padding-left: var(--space-l);
      }
      &_xl {
        padding-left: var(--space-xl);
      }
      &_xxl {
        padding-left: var(--space-xxl);
      }
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    &_align {
      &_between {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &_space-a {
      &_xs {
        padding: var(--space-xs);
      }
      &_s {
        padding: var(--space-s);
      }
      &_m {
        padding: var(--space-m);
      }
      &_l {
        padding: var(--space-l);
      }
      &_xl {
        padding: var(--space-xl);
      }
      &_xxl {
        padding: var(--space-xxl);
      }
    }
    &_space-v {
      &_xs {
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xs);
      }
      &_s {
        padding-top: var(--space-s);
        padding-bottom: var(--space-s);
      }
      &_m {
        padding-top: var(--space-m);
        padding-bottom: var(--space-m);
      }
      &_l {
        padding-top: var(--space-l);
        padding-bottom: var(--space-l);
      }
      &_xl {
        padding-top: var(--space-xl);
        padding-bottom: var(--space-xl);
      }
      &_xxl {
        padding-top: var(--space-xxl);
        padding-bottom: var(--space-xxl);
      }
    }
    &_space-h {
      &_xs {
        padding-left: var(--space-xs);
        padding-right: var(--space-xs);
      }
      &_s {
        padding-left: var(--space-s);
        padding-right: var(--space-s);
      }
      &_m {
        padding-left: var(--space-m);
        padding-right: var(--space-m);
      }
      &_l {
        padding-left: var(--space-l);
        padding-right: var(--space-l);
      }
      &_xl {
        padding-left: var(--space-xl);
        padding-right: var(--space-xl);
      }
      &_xxl {
        padding-left: var(--space-xxl);
        padding-right: var(--space-xxl);
      }
    }
  }
}
